<div id="logo">
	<%= link_to logo, root_path %>
</div>

<div id="navigation">
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "About Sevn", about_path %></li>
		<li><%= link_to "Plans/Pricing", plans_path %></li>
		<li><%= link_to "Create an Account", signup_path %></li>
	</ul>	
</div>