<!DOCTYPE html>
<html>
<head>
<title>Sevn - A simple todo list for the next seven days | <%= @title %></title>
<%= render 'layouts/stylesheets' %>
</head>
<body>


<div id="wrap">

<%= render 'layouts/header'%>
 
<%= yield %>

<%= render 'layouts/footer'%>

</div>

</body>
</html>
